# Jupyter Notebook temporary files
.ipynb_checkpoints

# pyCharm files
.idea/

# Large datasets > 10 MB
dataset/

# Pre-trained models
models/

# swap files
*.swp

# In-production ignores (temporary)
# Github-pages
pages/
